<?xml version="1.0"?>

<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
        <suite verbose="1" name="Suite1">
    <test name="Groups">
    <classes>
    <class name="addressbook_tR.test.TestGroupCreation"/>
    <class name="addressbook_tR.test.TestGroupModification"/>
    <class name="addressbook_tR.test.TestGroupDelition"/>
</classes>
</test>
    <test name="Contacts">
    <classes> </classes>
</test>

</suite>